* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body {
    overflow: hidden;
} */

.navbar-container {
    filter: drop-shadow(0 0.2rem 0.25rem rgba(138, 137, 137, 0.2));
}

.navbar-light .navbar-text {
    font-size: 23px !important;
    text-decoration: none;
    color: rgb(71 65 147) !important;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-collapse {
    justify-content: end;
}

.navbar {
    padding: 0.5rem 100px;
}

.navbar-nav {
    gap: 30px;
}

.nav-link {
    font-size: 17px;
    color: #474193 !important;
}

.nav-link:hover {
    color: rgb(23, 145, 4);
    font-weight: 600;
}

.nav-item:hover {
    height: 2px;
    background-color: orangered;
    transition: linear 2s;
}


/* .navbar-light.navbar-text {
    color: rgb(253 186 6) !important;
} */

.intro-sec-text-img {
    display: flex;
    align-items: center;
    margin: 0px 100px;
}

.intro-image img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.intro-image :hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.intro-bg {
    background: linear-gradient(90deg, rgba(168, 242, 180, 1) 0%, rgb(124 255 48) 71%, rgba(0, 255, 98, 1) 100%);
}

.intro-text h2 {
    color: #fa4400;
    font-size: 50px;
}

.intro-text h1 {
    color: #474193;
    font-size: 60px;
}

.intro-text h3 {
    color: #6b696d;
    font-size: 35px;
    letter-spacing: 1px;
}

.intro-text p {
    margin-top: 20px;
    font-size: 18px;
    color: #5e7385;
}

.intro-view-btn button {
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 18px;
    background-color: white;
    border: 2px solid white;
    color: #474193;
}

.intro-view-btn button:hover {
    background-color: #474193;
    color: white;
    border: none;
    transition: ease 1s;
}

.aboutus-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-info {
    list-style-type: none;
    padding-left: 0px;
    line-height: 2;
}

.about-us-info a {
    color: #043a88;
    text-decoration: none;
    font-size: 20px;
}

.about-us-info i:hover {
    background-color: orangered;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    text-align: center;
    padding-top: 9px;
    transition: ease-in-out 1s;
}

.about-us-info li {
    font-weight: 600;
    font-size: 18px;
}

.aboutus-content h2 {
    font-size: 40px;
    color: #474193;
}

.aboutus-content h1 {
    font-size: 45px;
    color: #fdba06;
}

.aboutus-line {
    margin-bottom: 20px;
}

.aboutus-line-style {
    height: 2px;
    width: 80px;
    background-color: #fdba06;
    border-radius: 5px;
    margin-bottom: 30px;
}

.project-styles {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.myprojects-heading h2 {
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.project-styles-row {
    display: flex !important;
    justify-content: center;
}

.project-bg {
    background: linear-gradient(90deg, rgb(156 148 253) 0%, rgb(255 108 238) 100%, rgb(34 48 146) 100%);
}

.card .card-image-top {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.card :hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.check-btn:hover {
    background: linear-gradient(90deg, rgb(156 148 253) 0%, rgb(255 108 238) 100%, rgb(34 48 146) 100%);
    color: white;
    transition: ease 5s;
}

.project-check-btn {
    text-align: center;
    margin: 30px 0;
}

.project-check-btn a {
    text-decoration: none;
}

.project-styles-row {
    margin-left: 0px !important;
}

.check-btn {
    padding: 8px 25px;
    background-color: #474193;
    color: white;
    border-radius: 10px;
}

.social-icon {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    margin-top: 20px;
}

.social-icon i {
    font-size: 30px;
    color: black;
    margin-right: 20px;
}

.navigation-menu {
    list-style-type: none;
    padding-left: 0;
    line-height: 2;
}

.navigation-menu li {
    font-size: 17px;
}

.footer-bg {
    background-color: rgb(212, 235, 255);
}

.contact-form {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
}

.footer-contact {
    padding: 30px 100px;
}

.contact-btn button {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 22px;
    background-color: #474193;
    color: white;
}

.copy-right {
    padding: 10px 0px;
    text-align: center;
    font-size: 17px;
    background: linear-gradient(90deg, rgba(168, 242, 180, 1) 0%, rgb(124 255 48) 71%, rgba(0, 255, 98, 1) 100%);
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 0.5rem 0px;
        padding: 0px 20px;
    }
    .intro-sec-text-img {
        display: flex;
        align-items: center;
        margin: 0px 10px;
    }
    .intro-text h2 {
        color: #fdba06;
        font-size: 35px;
        text-align: left;
        margin-top: 40px;
    }
    .intro-text h1 {
        color: #474193;
        font-size: 40px;
    }
    .intro-image {
        display: flex;
        justify-content: center;
    }
    .intro-image img {
        width: 400px;
        height: 400px;
    }
    .intro-bg {
        padding: 0px 0px;
    }
    .intro-view-btn {
        text-align: center;
        margin-top: 20px;
    }
    .aboutus-image img {
        height: 400px;
        width: 400px;
    }
    .aboutus-content h2 {
        text-align: center;
    }
    .aboutus-line {
        text-align: -webkit-center;
    }
    .aboutus-content h1 {
        font-size: 35px;
        color: #fdba06;
        text-align: center;
    }
    .aboutus-line-style {
        margin-bottom: 20px;
    }
    .about-us-info {
        padding: 0px 50px;
    }
    .myprojects-heading h2 {
        text-align: center;
    }
    .card {
        width: 400px !important;
        margin-bottom: 30px;
    }
    .social-connect h4 {
        font-size: 28px;
    }
    .navigation h4 {
        font-size: 28px;
    }
    .footer-bg {
        display: flex;
        justify-content: center;
    }
    .contact-form {
        width: 400px;
    }
}


/* .navbar-text {
    color: black;
} */